@import url("./reset.css");
@import "util";

.header {
  display: flex;
  flex-direction: column;
  &-main {
    display: flex;
  }
}

.category {
  background: url("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png")
    no-repeat 0 0;
  width: 130px;
  height: 115px;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__text {
    position: absolute;
    left: 30px;
    top: 70px;
    color: #ffffff;
  }
}

.top-bar-wrapper {
  background-color: #ededed;
}

.top-bar {
  height: 30px;

  &__content-wrapper {
    padding: 10px 0;
    cursor: pointer;
  }
  &__text {
    font-size: 12px;
    padding: 0 10px 0 0;
  }

  &__button {
    background: url("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png")
      no-repeat -152px -35px;
    width: 8px;
    height: 4px;
  }
}

.homepage-logo {
  cursor: pointer;
  width: 174px;
  height: 41px;
}

.search-section {
  width: 100%;
  margin-left: 30px;
  &__main {
    margin-top: 0px;
    height: 100%;
  }
  &__events-category {
    align-items: center;
    margin-right: 15px;
    padding-bottom: 5px;
  }
}
.events-category {
  &__logo-img {
    margin-right: 2px;
  }
  &__text {
    margin-right: 2px;
  }
}
.search-bar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
  margin: 0px 25px;
  border: 1px solid blue;
  height: 50%;
  &__search-area {
    margin-left: 10px;
    flex-grow: 1;
    border: none;
  }
  &-icons {
    display: flex;
  }
  &-icon-card {
    margin-right: 10px;
  }
  &__search-button {
    background: url("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png")
      no-repeat -127px -80px;
    padding: 0 10px;
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}
.search-bar__menu {
  position: relative;
  overflow: hidden;
  border-right: rgba(#000000, 0.3);
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  .small-text {
    margin-right: 50px;
  }
  &__button {
    position: absolute;
    left: 70px;
    bottom: 4px;
    // 버튼 열리면 bottom 지우고 top으로 변경
    background: url("https://img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png")
      no-repeat -2px -155px;
    width: 10px;
    height: 29px;
  }
}
.search-button {
  position: absolute;
  left: 480px;
  cursor: pointer;
}
.small-text {
  font-size: 0.725rem;
}

.new-icon {
  width: 12px;
  height: 12px;
}

.display-none {
  display: none;
}

.home-banner {
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  &__wrapper {
    position: absolute;
    margin-left: -960px;
    top: 0;
    left: 50%;
  }
}
.home-banner__today-img-container {
  position: absolute;
  left: 1280px;
  top: 45px;
  height: 360px;
  li {
    position: relative;
    height: 60px;
    border: 2px none;
  }
}
.selected {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 180px;
  height: 60px;
  border: 2px solid #4284f3;
}

.icon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &__img {
    margin-bottom: 10px;
  }
  &__profile-img {
    background: url("https://img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png")
      no-repeat -112px -42px;
    margin: auto 0;
    width: 28px;
    height: 27px;
  }
  &__shopping-cart-img {
    background: url("https://img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png")
      no-repeat -112px 0;
    width: 37px;
    height: 36px;
  }
}

.search-bar__view {
  &-menu {
    @include absolute-one-zindex(#ffffff);
    @include top-left-width-height(43px, -1px, 90px, 800px);
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
  }
  &-content {
    @include absolute-one-zindex(#ffffff);
    @include top-left-width-height(43px, 89px, 415px, 330px);
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
  }
}
